<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Анкета кандидата на работу</title>
    <link rel= "stylesheet" href= "{{ url_for('static',filename='styles/style.css') }}">
</head>
<body>
    <main>
        <div class="row">
            <div class="col">
                <p class="major">Имя кандидата</p>
                <p>Позиция кандидата</p>
            </div>

        <div class="col">
            <p class="major">{{ name }}</p>
            <p>{{ position }}</p>
            </div>

</div>
        <p class="picture"><img src={{ picture }} width=200/></p>
        <p><strong>Навыки кандидата:</strong></p>
        <p>{{ skills }}</p>
         <div class="row">
            <div class="col">
                <p><a href="/candidate/{{ id_x_t }}">Кандидат {{ id_x_t }}</a></p>
                <p><a href="/search/">Поиск</a></p>
            </div>
            <div class="col">
                <p><a href="/list/">Список</a></p>
                <p><a href="/skill/">Список навыков</a></p>
         </div>
    </main>
</body>
</html>